/* .wrapper{
    background-color: rgb(57, 241, 57);
} */
header{
    /* position: absolute;  */
    /* z-index: 1; */
    width: 100%;
    
}
header nav.bg-light{
    background-color: rgb(30, 147, 90) !important;
}
header nav a.navbar-brand{
    color: white;
}
header nav ul li a.nav-link{
    color: white;
    text-transform: uppercase;
    padding: 10px 20px !important;
}
header nav ul li a.nav-link.active{
    color: white !important;

}

header .navbar-brand{
    margin-right: 50px;
}
header nav ul{
    width: 100%;
   
}
.carousel-item.active img{
   width: 100%;
   height: 600px;
}
#Warapper{
    background-color: rgb(223, 218, 218);
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 40px;
}
img {
    width: 100%;
}
.container h1{
    text-align: center;
    color: black;
    font-weight: 100;
}
.new-sale {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 30px;
}
.new-sale span {
    display: block;
}
.thumb {
    position: relative;
}
.new,
.sale {
    background: green;
    padding: 10px 20px;
    font-weight: 700;
    color: aliceblue;
    text-transform: uppercase;
}
.sale {
    background: red;
    border-radius: 0 5px 5px 0;
}
.new-item{
    background-color: white;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}
.new-item img{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.new-item a {
    display: block;
    background-color: green;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    width: 130px;
    margin: 0 auto;
    

}
.new-item a:hover {
    
    background: red;
}
.card-body img{
   width: 45px;
   height: 45px;
}
.banner2{
    background-image: url('design.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    
}
.btn.btn-outline-success{
    background-color: rgb(41, 190, 118);
    color: white;
}